# FGV EPGE - Escola de Pós-Graduação em Economia
---
## Mestrado Profissional em Economia
### Decisões Baseadas em Dados I - 2025-4
---
#### Professor: Rafael Martins de Souza (rafael.souza@fgv.br)
##### Doutor em Economia (EPGE, 2009), Mestre (UFRJ, 2003) e Bacharel em Estatística (ENCE, 2000).
---
##### Monitora:

# Aula 04

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Pandas DataFrame

Até a aula passada nós tratamos de  Pandas ``Series``, a partir de hoje trataremos de Pandas ``DataFrame``. Um ``DataFrame`` em Pandas é um objeto *bidimensional* com linhas e colunas.

Criando um dataframe a partir de um dicionário de séries.

In [ ]:
age_dict = {'Max': 26,
            'Andy': 25,
            'Ben': 28,
            'Sarah': 26,
            'Anne': 21}

age = pd.Series(age_dict)
print(age_dict)
print(age)

{'Max': 26, 'Andy': 25, 'Ben': 28, 'Sarah': 26, 'Anne': 21}
Max      26
Andy     25
Ben      28
Sarah    26
Anne     21
dtype: int64

In [ ]:
height_dict = {'Max': 170,
               'Andy': 164,
               'Ben': 175,
               'Sarah': 165,
               'Anne': 160}

height = pd.Series(height_dict)
print(height_dict)
print(height)

{'Max': 170, 'Andy': 164, 'Ben': 175, 'Sarah': 165, 'Anne': 160}
Max      170
Andy     164
Ben      175
Sarah    165
Anne     160
dtype: int64

In [ ]:
people = pd.DataFrame({'age': age,
                       'height': height})

In [ ]:
people

       age  height
Max     26     170
Andy    25     164
Ben     28     175
Sarah   26     165
Anne    21     160

In [ ]:
type(people)

pandas.core.frame.DataFrame

Com Value_counts é possível obter a frequência (absoluta por default, podendo ser relativa mudando o argumento 'normalize') para uma coluna específica ou para um conjunto de colunas.

In [ ]:
print(people['age'])
print(people['height'])

Max      26
Andy     25
Ben      28
Sarah    26
Anne     21
Name: age, dtype: int64
Max      170
Andy     164
Ben      175
Sarah    165
Anne     160
Name: height, dtype: int64

Distribuição absoluta

In [ ]:
people['age'].value_counts()

26    2
21    1
28    1
25    1
Name: age, dtype: int64

Distribuição relativa

In [ ]:
people['age'].value_counts(normalize = True)

26    0.4
21    0.2
28    0.2
25    0.2
Name: age, dtype: float64

Distribuição relativa (em valores percentuais)

In [ ]:
100*people['age'].value_counts(normalize = True)

26    40.0
21    20.0
28    20.0
25    20.0
Name: age, dtype: float64

Padronizado a apresentação dos valores:

In [ ]:
tabela = 100*people['age'].value_counts(normalize = True)
tabela.astype(str).str.replace('.',',') + '%'

26    40,0%
21    20,0%
28    20,0%
25    20,0%
Name: age, dtype: object

Describe retorna estatísticas descritivas

In [ ]:
people.describe()

             age     height
count   5.000000    5.00000
mean   25.200000  166.80000
std     2.588436    5.80517
min    21.000000  160.00000
25%    25.000000  164.00000
50%    26.000000  165.00000
75%    26.000000  170.00000
max    28.000000  175.00000

O método values retorna um np.array com s valores da coluna (ou da série)

In [ ]:
print(type(people['age']))
print(type(people['age'].values))

<class 'pandas.core.series.Series'>
<class 'numpy.ndarray'>

Modificando os nomes ``labels``(linhas) e as ``columns``

In [ ]:
people

       age  height
Max     26     170
Andy    25     164
Ben     28     175
Sarah   26     165
Anne    21     160

In [ ]:
# Renomeando index
people = people.rename(index = {'Max':'Maximilian'})
people

            age  height
Maximilian   26     170
Andy         25     164
Ben          28     175
Sarah        26     165
Anne         21     160

In [ ]:
people.index[0]

'Maximilian'

In [ ]:
people = people.rename(index = {people.index[0]:'Maximilian'})
people

            idade  altura
Maximilian     26     170
Andy           25     164
Ben            28     175
Sarah          26     165
Anne           21     160

In [ ]:
people = people.rename(index = {'Max':'Maximilian'})
people

            idade  altura
Maximilian     26     170
Andy           25     164
Ben            28     175
Sarah          26     165
Anne           21     160

Só o rename retorna o dataframe, mas não o modifica.

Ou atribuímos de novo ou usamos o 'inplace = True'

In [ ]:
# Renomeando coluna
people.rename(columns = {'height':'altura','age':'idade'})

            idade  altura
Maximilian     26     170
Andy           25     164
Ben            28     175
Sarah          26     165
Anne           21     160

Veja que o método rename não modificou objeto, ou seja, quando eu chamo people eu continuo observando os mesmos nomes para as colunas.

In [ ]:
people

            age  height
Maximilian   26     170
Andy         25     164
Ben          28     175
Sarah        26     165
Anne         21     160

O código abaixo e o comentário são equivalentes.

In [ ]:
#people = people.rename(columns = {'height':'altura','age':'idade'})
people.rename(columns = {'height':'altura','age':'idade'}, inplace = True)

In [ ]:
people

            idade  altura
Maximilian     26     170
Andy           25     164
Ben            28     175
Sarah          26     165
Anne           21     160

Agora eu tenho o resultado desejado:

In [ ]:
people

            idade  altura
Maximilian     26     170
Andy           25     164
Ben            28     175
Sarah          26     165
Anne           21     160

In [ ]:
people =  people.rename(columns = {people.columns[1]:'alt','idade':'ida'})

In [ ]:
people

            ida  alt
Maximilian   26  170
Andy         25  164
Ben          28  175
Sarah        26  165
Anne         21  160

In [ ]:
people.rename(columns = {'alt':'altura','ida':'idade'}, inplace = True)

In [ ]:
people

            idade  altura
Maximilian     26     170
Andy           25     164
Ben            28     175
Sarah          26     165
Anne           21     160

In [ ]:
people =  people.rename(columns = {people.columns[1]:'alt',people.columns[0]:'ida'})

In [ ]:
people

            ida  alt
Maximilian   26  170
Andy         25  164
Ben          28  175
Sarah        26  165
Anne         21  160

In [ ]:
people =  people.rename(columns = {people.columns[1]:'altura',people.columns[0]:'idade'})

In [ ]:
people

            idade  altura
Maximilian     26     170
Andy           25     164
Ben            28     175
Sarah          26     165
Anne           21     160

**Indexando usando loc e iloc**

iloc: indexação (linha, coluna) por posição

In [ ]:
people

            idade  altura
Maximilian     26     170
Andy           25     164
Ben            28     175
Sarah          26     165
Anne           21     160

In [ ]:
people.iloc[0:2,1]

Maximilian    170
Andy          164
Name: altura, dtype: int64

loc: indexação (linha, coluna) por label

O elemento retornado é o objeto na par row,column

In [ ]:
people.iloc[1,1]

164

In [ ]:
type(people.iloc[1,1])

numpy.int64

Entrega uma série

In [ ]:
people.iloc[1:2,1]

Andy    164
Name: altura, dtype: int64

In [ ]:
type(people.iloc[1:2,1])

pandas.core.series.Series

In [ ]:
people.loc['Andy']

idade      25
altura    164
Name: Andy, dtype: int64

In [ ]:
people.loc['Andy','altura']
#print(people.loc['Andy','altura'])

164

Transformando o index em coluna

Muitas vezes queremos transformar o index em uma variável. Isto é feito por meio do comando reset_index. O agrumento inplace = True irá garantir que o objeto manipulado seja modificado.

In [ ]:
people

            idade  altura
Maximilian     26     170
Andy           25     164
Ben            28     175
Sarah          26     165
Anne           21     160

In [ ]:
people.reset_index(inplace = True)

Como podemos ver, agora há uma variável chamada index que contém o nome de cada umas pessoas que estão listadas nesta base de dados.

In [ ]:
people

        index  idade  altura
0  Maximilian     26     170
1        Andy     25     164
2         Ben     28     175
3       Sarah     26     165
4        Anne     21     160

In [ ]:
people['index']

0    Maximilian
1          Andy
2           Ben
3         Sarah
4          Anne
Name: index, dtype: object

In [ ]:
set(people.index)

{0, 1, 2, 3, 4}

In [ ]:
type(people['index'])

pandas.core.series.Series

In [ ]:
type(people['altura'])

pandas.core.series.Series

In [ ]:
type(people['idade'])

pandas.core.series.Series

1ª forma de criar uma coluna) - Operações em cima de colunas inteiras

Criando a coluna com a primeira letra de cada nome (antigo index)

In [ ]:
people['primeira letra do nome'] = people['index'].str[0]

In [ ]:
people

        index  idade  altura primeira letra do nome
0  Maximilian     26     170                      M
1        Andy     25     164                      A
2         Ben     28     175                      B
3       Sarah     26     165                      S
4        Anne     21     160                      A

2ª forma) Loc + condição


Criando uma coluna a partir de uma condição

In [ ]:
people.loc[people.altura>=170, 'descrição'] = 'alto'

In [ ]:
people

        index  idade  altura primeira letra do nome descrição
0  Maximilian     26     170                      M      alto
1        Andy     25     164                      A       NaN
2         Ben     28     175                      B      alto
3       Sarah     26     165                      S       NaN
4        Anne     21     160                      A       NaN

In [ ]:
people.loc[(people.altura>=165)&(people.altura<170), 'descrição'] = 'médio'

In [ ]:
people

        index  idade  altura primeira letra do nome descrição
0  Maximilian     26     170                      M      alto
1        Andy     25     164                      A       NaN
2         Ben     28     175                      B      alto
3       Sarah     26     165                      S     médio
4        Anne     21     160                      A       NaN

In [ ]:
people['descrição'] = people['descrição'].fillna('baixo')

In [ ]:
people

        index  idade  altura primeira letra do nome descrição
0  Maximilian     26     170                      M      alto
1        Andy     25     164                      A     baixo
2         Ben     28     175                      B      alto
3       Sarah     26     165                      S     médio
4        Anne     21     160                      A     baixo

**Observação**: É possível preencher NA usando métodos

- backfill: Preenche com o próximo valor válido
- ffill: Preenche com último valor válido

In [ ]:
exemplo_na = pd.DataFrame(data = ['verde','vermelho','verde','azul', np.nan, 'amarelo'],  columns = ['Cor'])

Observação 4 é preenchida de duas formas diferentes

In [ ]:
exemplo_na

        Cor
0     verde
1  vermelho
2     verde
3      azul
4       NaN
5   amarelo

In [ ]:
exemplo_na.fillna(method = 'ffill')

        Cor
0     verde
1  vermelho
2     verde
3      azul
4      azul
5   amarelo

In [ ]:
exemplo_na.fillna(method = 'bfill')

        Cor
0     verde
1  vermelho
2     verde
3      azul
4   amarelo
5   amarelo

In [ ]:
exemplo_na

        Cor
0     verde
1  vermelho
2     verde
3      azul
4       NaN
5   amarelo

Voltando para o dataframe do começo da aula

In [ ]:
people

        index  idade  altura primeira letra do nome descrição
0  Maximilian     26     170                      M      alto
1        Andy     25     164                      A     baixo
2         Ben     28     175                      B      alto
3       Sarah     26     165                      S     médio
4        Anne     21     160                      A     baixo

In [ ]:
people.rename(columns = {'index':'nome'}, inplace = True)

In [ ]:
people

         nome  idade  altura primeira letra do nome descrição
0  Maximilian     26     170                      M      alto
1        Andy     25     164                      A     baixo
2         Ben     28     175                      B      alto
3       Sarah     26     165                      S     médio
4        Anne     21     160                      A     baixo

set_index faz o inverso que o reset_index, ou seja, transforma uma coluna em index

In [ ]:
people.set_index('nome', inplace = True)

In [ ]:
people

            idade  altura primeira letra do nome descrição
nome
Maximilian     26     170                      M      alto
Andy           25     164                      A     baixo
Ben            28     175                      B      alto
Sarah          26     165                      S     médio
Anne           21     160                      A     baixo

Operações com colunas

In [ ]:
people['altura']/100

nome
Maximilian    1.70
Andy          1.64
Ben           1.75
Sarah         1.65
Anne          1.60
Name: altura, dtype: float64

In [ ]:
people['altura'].max()

175

In [ ]:
people['altura'].min()

160

In [ ]:
people['altura'].mean()

166.8

In [ ]:
people2 = pd.DataFrame(data = [90,67.5,70,45,78], index = ['Maximilian', 'Andy',  'Sarah','Ben', 'Anne'], columns = ['weight'])
people2

            weight
Maximilian    90.0
Andy          67.5
Sarah         70.0
Ben           45.0
Anne          78.0

Tamanho das listas precisam ser iguais

In [ ]:
#Maneira errada de fazer
#people3 = pd.DataFrame(data = [90,67.5,70,45,78], index = ['Maximilian', 'Andy',  'Sarah','Ben', 'Anne','Tom'], columns = ['weight'])

É possível atribuir um nome para o index.

In [ ]:
people2.index.name='nome'

In [ ]:
people2

            weight
nome
Maximilian    90.0
Andy          67.5
Sarah         70.0
Ben           45.0
Anne          78.0

In [ ]:
people

            idade  altura primeira letra do nome descrição
nome
Maximilian     26     170                      M      alto
Andy           25     164                      A     baixo
Ben            28     175                      B      alto
Sarah          26     165                      S     médio
Anne           21     160                      A     baixo

## Concatenando dataframes

### pd.concat

Em inúmeros casos é comum que informações provenientes bancos de dados sejam reunidas em uma única tabela. O comando concat é bastante útil nestes casos.

pd.concat usando o index como identificador

- axis = 1: concatena colunas
- axis = 0: concatena linhas

**Obs: pd.concat pode juntar mais de 2 dataframes**

In [ ]:
df_exercicio_3 = pd.concat([people, people2], axis = 1)

In [ ]:
df_exercicio_3

            idade  altura primeira letra do nome descrição  weight
Maximilian     26     170                      M      alto    90.0
Andy           25     164                      A     baixo    67.5
Ben            28     175                      B      alto    45.0
Sarah          26     165                      S     médio    70.0
Anne           21     160                      A     baixo    78.0

In [ ]:
people

            idade  altura primeira letra do nome descrição
nome
Maximilian     26     170                      M      alto
Andy           25     164                      A     baixo
Ben            28     175                      B      alto
Sarah          26     165                      S     médio
Anne           21     160                      A     baixo

In [ ]:
people2

            weight
nome
Maximilian    90.0
Andy          67.5
Sarah         70.0
Ben           45.0
Anne          78.0

In [ ]:
pd.concat([people, people2], axis = 0, ignore_index = True)

   idade  altura primeira letra do nome descrição  weight
0   26.0   170.0                      M      alto     NaN
1   25.0   164.0                      A     baixo     NaN
2   28.0   175.0                      B      alto     NaN
3   26.0   165.0                      S     médio     NaN
4   21.0   160.0                      A     baixo     NaN
5    NaN     NaN                    NaN       NaN    90.0
6    NaN     NaN                    NaN       NaN    67.5
7    NaN     NaN                    NaN       NaN    70.0
8    NaN     NaN                    NaN       NaN    45.0
9    NaN     NaN                    NaN       NaN    78.0

In [ ]:
pd.concat([people, people2], axis = 0)

            idade  altura primeira letra do nome descrição  weight
nome
Maximilian   26.0   170.0                      M      alto     NaN
Andy         25.0   164.0                      A     baixo     NaN
Ben          28.0   175.0                      B      alto     NaN
Sarah        26.0   165.0                      S     médio     NaN
Anne         21.0   160.0                      A     baixo     NaN
Maximilian    NaN     NaN                    NaN       NaN    90.0
Andy          NaN     NaN                    NaN       NaN    67.5
Sarah         NaN     NaN                    NaN       NaN    70.0
Ben           NaN     NaN                    NaN       NaN    45.0
Anne          NaN     NaN                    NaN       NaN    78.0

### pd.merge

Mescla dataframes a partir de uma **coluna** em comum

In [ ]:
people3 = pd.DataFrame(data = [['Maximilian','Arquiteto'],['Anne','Economista']],
                       columns = ['nome', 'profissão'])

In [ ]:
people3

         nome   profissão
0  Maximilian   Arquiteto
1        Anne  Economista

In [ ]:
people

         nome  idade  altura primeira letra do nome descrição
0  Maximilian     26     170                      M      alto
1        Andy     25     164                      A     baixo
2         Ben     28     175                      B      alto
3       Sarah     26     165                      S     médio
4        Anne     21     160                      A     baixo

Nesse caso, precisamos que o index seja uma coluna

In [ ]:
people.reset_index(inplace = True)

In [ ]:
people

         nome  idade  altura primeira letra do nome descrição
0  Maximilian     26     170                      M      alto
1        Andy     25     164                      A     baixo
2         Ben     28     175                      B      alto
3       Sarah     26     165                      S     médio
4        Anne     21     160                      A     baixo

how = 'left' usa as chaves do dataframe da esquerda. O mesmo raciocínio para 'right'

In [ ]:
pd.merge(people, people3, on = 'nome', how = 'left')

         nome  idade  altura primeira letra do nome descrição   profissão
0  Maximilian     26     170                      M      alto   Arquiteto
1        Andy     25     164                      A     baixo         NaN
2         Ben     28     175                      B      alto         NaN
3       Sarah     26     165                      S     médio         NaN
4        Anne     21     160                      A     baixo  Economista

In [ ]:
pd.merge(people3, people, on = 'nome', how = 'left')

         nome   profissão  idade  altura primeira letra do nome descrição
0  Maximilian   Arquiteto     26     170                      M      alto
1        Anne  Economista     21     160                      A     baixo

In [ ]:
pd.merge(people, people3, on = 'nome', how = 'right')

         nome  idade  altura primeira letra do nome descrição   profissão
0  Maximilian     26     170                      M      alto   Arquiteto
1        Anne     21     160                      A     baixo  Economista

In [ ]:
df_final = pd.merge(people, people3, on = 'nome', how = 'outer')

In [ ]:
df_final

         nome  idade  altura primeira letra do nome descrição   profissão
0  Maximilian     26     170                      M      alto   Arquiteto
1        Andy     25     164                      A     baixo         NaN
2         Ben     28     175                      B      alto         NaN
3       Sarah     26     165                      S     médio         NaN
4        Anne     21     160                      A     baixo  Economista

In [ ]:
pd.merge(people, people3, on = 'nome', how = 'inner')

         nome  idade  altura primeira letra do nome descrição   profissão
0  Maximilian     26     170                      M      alto   Arquiteto
1        Anne     21     160                      A     baixo  Economista

In [ ]:
people4 = pd.DataFrame(data = [['Maximilian','Arquiteto'],['Anne','Economista'], ['Joe','Estatístico']],
                       columns = ['nome', 'profissão'])

In [ ]:
pd.merge(people, people4, on = 'nome', how = 'outer')

         nome  idade  altura primeira letra do nome descrição    profissão
0  Maximilian   26.0   170.0                      M      alto    Arquiteto
1        Andy   25.0   164.0                      A     baixo          NaN
2         Ben   28.0   175.0                      B      alto          NaN
3       Sarah   26.0   165.0                      S     médio          NaN
4        Anne   21.0   160.0                      A     baixo   Economista
5         Joe    NaN     NaN                    NaN       NaN  Estatístico

In [ ]:
pd.merge(people, people4, on = 'nome', how = 'inner')

         nome  idade  altura primeira letra do nome descrição   profissão
0  Maximilian     26     170                      M      alto   Arquiteto
1        Anne     21     160                      A     baixo  Economista

In [ ]:
pd.merge(people, people4, on = 'nome', how = 'left')

         nome  idade  altura primeira letra do nome descrição   profissão
0  Maximilian     26     170                      M      alto   Arquiteto
1        Andy     25     164                      A     baixo         NaN
2         Ben     28     175                      B      alto         NaN
3       Sarah     26     165                      S     médio         NaN
4        Anne     21     160                      A     baixo  Economista

In [ ]:
pd.merge(people, people4, on = 'nome', how = 'right')

         nome  idade  altura primeira letra do nome descrição    profissão
0  Maximilian   26.0   170.0                      M      alto    Arquiteto
1        Anne   21.0   160.0                      A     baixo   Economista
2         Joe    NaN     NaN                    NaN       NaN  Estatístico

In [ ]:
df_final.to_dict()

{'altura': {0: 170, 1: 164, 2: 175, 3: 165, 4: 160},
 'descrição': {0: 'alto', 1: 'baixo', 2: 'alto', 3: 'médio', 4: 'baixo'},
 'idade': {0: 26, 1: 25, 2: 28, 3: 26, 4: 21},
 'nome': {0: 'Maximilian', 1: 'Andy', 2: 'Ben', 3: 'Sarah', 4: 'Anne'},
 'primeira letra do nome': {0: 'M', 1: 'A', 2: 'B', 3: 'S', 4: 'A'},
 'profissão': {0: 'Arquiteto', 1: nan, 2: nan, 3: nan, 4: 'Economista'}}

In [ ]:
prof = pd.DataFrame(data = [], index = ['Fabiano', 'Hélio', 'Sófocles'], columns = ['Profissão', 'Altura'])

In [ ]:
prof

         Profissão Altura
Fabiano        NaN    NaN
Hélio          NaN    NaN
Sófocles       NaN    NaN

In [ ]:
prof1 = prof.fillna('Advogado')
prof1

         Profissão    Altura
Fabiano   Advogado  Advogado
Hélio     Advogado  Advogado
Sófocles  Advogado  Advogado

## Problema do Sandro

In [ ]:
pibdosestados = pd.DataFrame(data = [['1980',1, 2],['1981',1.1, 2.1], ['1982',1.12,2.2]],
                       columns = ['ano', 'RJ', 'SP'])

In [ ]:
pibdosestados

    ano    RJ   SP
0  1980  1.00  2.0
1  1981  1.10  2.1
2  1982  1.12  2.2

In [ ]:
pibrj = pibdosestados.iloc[:,0:2]

In [ ]:
pibrj

    ano    RJ
0  1980  1.00
1  1981  1.10
2  1982  1.12

In [ ]:
pibsp = pibdosestados.iloc[:,[0,2]]

In [ ]:
pibsp

    ano   SP
0  1980  2.0
1  1981  2.1
2  1982  2.2

In [ ]:
pibrj['uf'] = 'RJ'

In [ ]:
pibrj

    ano    RJ  uf
0  1980  1.00  RJ
1  1981  1.10  RJ
2  1982  1.12  RJ

In [ ]:
pibrj.rename(columns = {pibrj.columns[1] : 'PIB'}, inplace = True)
pibrj = pibrj.rename(columns = {pibrj.columns[1] : 'PIB'})

In [ ]:
pibrj

    ano   PIB  uf
0  1980  1.00  RJ
1  1981  1.10  RJ
2  1982  1.12  RJ

In [ ]:
pibsp = pibdosestados.iloc[:,[0,2]]
pibsp['uf'] = 'SP'
pibsp.rename(columns = {pibsp.columns[1] : 'PIB'}, inplace = True)
#pibsp = pibsp.rename(columns = {pibsp.columns[1] : 'PIB'})

In [ ]:
pibsp

    ano  PIB  uf
0  1980  2.0  SP
1  1981  2.1  SP
2  1982  2.2  SP

In [ ]:
pd.concat([pibrj, pibsp], axis = 0)

    ano   PIB  uf
0  1980  1.00  RJ
1  1981  1.10  RJ
2  1982  1.12  RJ
0  1980  2.00  SP
1  1981  2.10  SP
2  1982  2.20  SP

In [ ]:
pibdosestados = pd.DataFrame(data = [], index = [], columns = ['ano', 'PIB', 'uf'])

In [ ]:
pibdosestados

Empty DataFrame
Columns: [ano, PIB, uf]
Index: []

Exercício

1) Criar um dataframe somente com as pessoas que têm profissão desconhecida.

2) Criar um dataframe só com pessoas altas

3) Substituir os valores faltantes de 'profissão' por 'Advogado'

In [ ]:
#1)

df_q1 = df_final[df_final['profissão'].isna()].copy()

In [ ]:
df_q1

    nome  idade  altura primeira letra do nome descrição profissão
1   Andy     25     164                      A     baixo       NaN
2    Ben     28     175                      B      alto       NaN
3  Sarah     26     165                      S     médio       NaN

In [ ]:
df_q1 = df_final[df_final['profissão'].isna()].copy()

In [ ]:
df_final[df_final['profissão'] == 'Economista']

   nome  idade  altura primeira letra do nome descrição   profissão
4  Anne     21     160                      A     baixo  Economista

In [ ]:
df_final[df_final['idade'] > 25]

         nome  idade  altura primeira letra do nome descrição  profissão
0  Maximilian     26     170                      M      alto  Arquiteto
2         Ben     28     175                      B      alto        NaN
3       Sarah     26     165                      S     médio        NaN

In [ ]:
df_final[(df_final['descrição'] == 'alto') & (df_final['idade']>25)]

         nome  idade  altura primeira letra do nome descrição  profissão
0  Maximilian     26     170                      M      alto  Arquiteto
2         Ben     28     175                      B      alto        NaN

In [ ]:
df_final[(df_final['descrição'] == 'alto')|(df_final['idade']>25)]

         nome  idade  altura primeira letra do nome descrição  profissão
0  Maximilian     26     170                      M      alto  Arquiteto
2         Ben     28     175                      B      alto        NaN
3       Sarah     26     165                      S     médio        NaN

'NaN' != np.nan

In [ ]:
# 2)

df_q2 = df_final[df_final['descrição'] == 'alto'].copy()

In [ ]:
df_q2

         nome  idade  altura primeira letra do nome descrição  profissão
0  Maximilian     26     170                      M      alto  Arquiteto
2         Ben     28     175                      B      alto        NaN

In [ ]:
df_final[df_final['descrição'] != 'baixo']

         nome  idade  altura primeira letra do nome descrição  profissão
0  Maximilian     26     170                      M      alto  Arquiteto
2         Ben     28     175                      B      alto        NaN
3       Sarah     26     165                      S     médio        NaN

In [ ]:
df_final[df_final['descrição'].isin(['alto','médio'])]

         nome  idade  altura primeira letra do nome descrição  profissão
0  Maximilian     26     170                      M      alto  Arquiteto
2         Ben     28     175                      B      alto        NaN
3       Sarah     26     165                      S     médio        NaN

In [ ]:
prof = pd.DataFrame(data = [], index = ['Fabiano', 'Hélio', 'Sófocles'], columns = ['Profissão', 'Altura'])

In [ ]:
prof

         Profissão Altura
Fabiano        NaN    NaN
Hélio          NaN    NaN
Sófocles       NaN    NaN

In [ ]:
# 3)

prof1 = prof.fillna('Advogado')
prof1

         Profissão    Altura
Fabiano   Advogado  Advogado
Hélio     Advogado  Advogado
Sófocles  Advogado  Advogado

In [ ]:
prof['Profissão'] = prof['Profissão'].fillna('Advogado')

In [ ]:
prof

         Profissão Altura
Fabiano   Advogado    NaN
Hélio     Advogado    NaN
Sófocles  Advogado    NaN

In [ ]:
df_final

         nome  idade  altura primeira letra do nome descrição   profissão
0  Maximilian     26     170                      M      alto   Arquiteto
1        Andy     25     164                      A     baixo         NaN
2         Ben     28     175                      B      alto         NaN
3       Sarah     26     165                      S     médio         NaN
4        Anne     21     160                      A     baixo  Economista

In [ ]:
df_final['profissão'] = df_final['profissão'].fillna('Advogado')
df_final

         nome  idade  altura primeira letra do nome descrição   profissão
0  Maximilian     26     170                      M      alto   Arquiteto
1        Andy     25     164                      A     baixo    Advogado
2         Ben     28     175                      B      alto    Advogado
3       Sarah     26     165                      S     médio    Advogado
4        Anne     21     160                      A     baixo  Economista

## Referências para trabalhar com várias bases de dados


https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html